@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #f5f5f5;
    color: black;
    left:40px;
}
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garantiza que la página ocupe al menos toda la ventana */
}

.content {
    flex: 1; /* Expande el contenido para ocupar el espacio entre header y footer */
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.left h1 {
    margin-left: 100px;  
    margin-right: 20px;
}

/* Subtítulo */
.left .sub-title {
    margin-left: 100px;
    margin-right: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header .logo {
    font-size: 18px;
    font-weight: 700;
}
.header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 300;
}
.main-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    margin: 40px 0;
}
.sub-title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
}
.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project {
    width: 23%;
    margin-bottom: 40px;
}

/* Contenedor de proyectos */
.projects {
    margin-left: 100px;
    margin-right: 100px;
}

/* Proyecto individual */
.project {
    margin-left: 10px;
    margin-right: 10px;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados */
    border: 5px solid transparent; /* Borde transparente */
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.8) 100%), url('ruta-de-la-imagen');
    background-size: cover;
    background-position: center;
    transition: border-radius 0.3s ease;
}
.project img:hover {
    border-radius: 50%; /* Convierte la imagen en un círculo al hacer hover */
}
.project .project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
}
.project .project-info .project-number {
    font-weight: 700;
}
.about-section {
    display: none;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}

/* Cambiar el color del texto del logo y los enlaces del menú al colocar el mouse */
.header .logo:hover {
    color: black; /* Cambia el color del logo a negro */
    font-weight: bold;
    cursor: pointer; /* Cambia el cursor a mano al pasar sobre el logo */
}

.header nav a:hover {
    color: black; /* Cambia el color de los enlaces del menú a negro */
    font-weight: bold;
}

/* Estilo para la navegación */
nav a {
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    color: #000; /* Color predeterminado de los enlaces */
    padding: 5px 9px; /* Añadir algo de espacio alrededor del enlace */
    display: inline-block; /* Asegurar que los enlaces sean de bloque en línea */
}   

/* Estilo para el enlace activo (en negrita) */
nav a.activo {
    color: black; /* Color del texto del enlace activo */
    background-color: #B7F7D8; /* Fondo verde para el enlace activo */
    border-radius: 20px; /* Bordes redondeados */
    font-weight: bold; /* Poner el texto en negrita */
}

.index-page {
background: rgb(223,191,254);
background: linear-gradient(0deg, rgba(223,191,254,0.5298713235294117) 0%, rgba(183,247,216,0.4178265056022409) 100%);
}

.plataformas-page {
background: rgb(223,191,254);
background: linear-gradient(0deg, rgba(223,191,254,0.5298713235294117) 0%, rgba(183,247,216,0.4178265056022409) 100%);
}

.presupuesto-page {
    min-height: 100vh; /* Altura mínima igual a la altura total de la ventana */
    width: 100%; /* Asegura que ocupe todo el ancho */
    display: flex; /* Opcional: para centrar contenido si es necesario */
    align-items: center; /* Opcional: centra contenido verticalmente */
    justify-content: center; /* Opcional: centra contenido horizontalmente */
    background: 
    url('https://raw.githubusercontent.com/kimccartney/proyectofinal/refs/heads/main/fondopage2.png') center center no-repeat, 
    linear-gradient(0deg, rgba(223,191,254,0.53) 0%, rgba(183,247,216,0.42) 100%);
    background-size: contain, cover; /* Ajusta el tamaño de ambas capas */
    background-position: center, center;
}

.proyecto-page {
    min-height: 100vh; /* Altura mínima igual a la altura total de la ventana */
    width: 100%; /* Asegura que ocupe todo el ancho */
    background: 
    url('https://raw.githubusercontent.com/kimccartney/proyectofinal/refs/heads/main/fondopage3.png') center center no-repeat, 
    linear-gradient(0deg, rgba(223,191,254,0.53) 0%, rgba(183,247,216,0.42) 100%);
    background-size: contain, cover; /* Ajusta el tamaño de ambas capas */
    background-position: center, center;
}

.subtitle {
    font-size: 24px;
    color: #333;
    margin: 20px 0;
}
.description {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
}

footer {
    margin-top: auto; /* Empuja el footer al fondo */
    text-align: center; /* Centra el texto dentro del footer */
    padding: 20px 0;
    text-align: center;
    width: 100%;
    background-color: transparent;
}
footer p {
    font-size: 14px;
    color: #333;
}
footer a {
    color: #333;
    text-decoration: none;
}
footer a:hover {
    color: #000000;
    text-decoration: underline;
}
.income-section, .summary-section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}
.income-section {
    background-color: #f0f4f8;
}
.summary-section {
    background-color: #dfbffe;
    color: #494949;
}
.income-section h2, .summary-section h2 {
    font-size: 18px;
    margin-bottom: 20px;
}
.income-section input[type="text"], .income-section input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.income-section .total {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: right;
}
.summary-section .balance {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}
.summary-section .category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.expenses-section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin-top: 20px;
}
.expenses-section h2 {
    font-size: 18px;
    margin-bottom: 20px;
}
.expenses-section label {
    display: block;
    margin-bottom: 5px;
}
.expenses-section input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.simulador {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos bajen de línea si no hay suficiente espacio */
    gap: 20px; /* Espacio entre columnas */
    justify-content: space-between; /* Asegura que se distribuyan uniformemente */
}

.summary-section,
.income-section,
.expenses-section {
    flex-basis: 30%; /* Cada sección ocupa aproximadamente un tercio */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
}

@media (max-width: 768px) {
    .summary-section,
    .income-section,
    .expenses-section {
        flex-basis: 100%; /* Cada sección ocupa el ancho completo */
    }
}

/* Solo para la página 3 */
.page3 .container {
    display: flex;
    justify-content: space-between; /* Esto alinea los elementos a la izquierda y derecha */
    align-items: flex-start; /* Alinea los elementos al inicio (parte superior) */
    width: 100%;
}

.page3 .left {
    width: 50%; /* La mitad de la pantalla para el texto izquierdo */
    text-align: left; /* Asegura que el texto dentro de la columna de la izquierda esté alineado a la izquierda */
}

.page3 .right {
    width: 50%; /* La otra mitad para el texto derecho */
    text-align: right; /* Alinea el texto dentro de la columna derecha a la derecha */
}

.page3 .left h1,
.page3 .left .subtitle {
    margin: 30;
}

.page3 .right .description {
    margin: 80;
    padding-left: 20px; /* Ajusta el espacio entre el texto y el borde de la columna derecha */
}

.page3 .center .description {
    margin: 0; /* Elimina márgenes */
    padding-left: 0px; /* Ajusta el espacio entre el texto y el borde de la columna derecha */
    text-align: center; /* Alinea el texto horizontalmente */
}


        .plataformas-page {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .excel-preview-container {
            display: flex;
            flex: 1;
            gap: 20px;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .excel-preview-box {
            flex: 1;
            max-width: 45%; /* Limita el ancho en pantallas grandes */
            background: #fff;
            border: 2px solid #ddd;
            border-radius: 8px;
            padding: 30px;
            text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .excel-preview-box:hover {
            transform: scale(1.05);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        .excel-box-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .excel-box-content i {
            font-size: 3rem;
            color: #28a745;
        }

        .excel-box-content p {
            margin-top: 15px;
            font-size: 1.2rem;
            font-weight: bold;
            color: #333;
        }


        a {
            text-decoration: none;
            color: inherit;
        }

        a:hover {
            text-decoration: underline;
        }
